html {
	
  	min-height: 100%;
}

body {
	color: #522C2F;
	font-family: 'Electrolize', sans-serif;
	font-size: 125%;
	background-image: url(../images/use_your_illusion/use_your_illusion.png);
	height: 100%;
}

.jumbotron {
	background-image: url(../images/gplaypattern/gplaypattern.png);
	border-bottom-style: solid;
	border-bottom-color: #FAA1A8;
	border-bottom-width: .325em;
}

.jumbotron h1 {
	text-align: center;
	filter: drop-shadow(0.05em 0.05em 0em #FAA1A8);
}
.jumbotron p {
	padding-left: 21%;
	filter: drop-shadow(0.05em 0.05em 0em #908485);
}

.btn, .btn-primary, .btn-primary:active, .btn-primary:focus, .btn-primary:visited, .btn-primary:target {
	color: #FAA1A8;
	background-color: #715A5C;	
	border-color: #FAA1A8;
}

.btn-primary:hover {
	color: #FAA1A8;
	border-color: #FAA1A8;
	background-color: #908485;
}

h2 {
	text-decoration: underline;
}

.theme-color {
	color: #FAA1A8;
	filter: drop-shadow(0.05em 0.05em 0em #908485);
}


#primeform {
	padding-bottom: 2em;
}

/*#reset {
	visibility: hidden;
}*/

#num:invalid {
	border-color: crimson;
	border-width: 3px;
}

#primes {
	font-size: 125%;
}

#results-window {
	padding-bottom: 6em;
	margin-bottom: 2em;
	color: #522C2F;
	background-image: url(../images/gplaypattern/gplaypattern.png);
	border: 2px solid #FAA1A8;
}

.footer {
	margin-top: 0.5em;
	padding-top: 0.5em;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 6em;
	color: #522C2F;
	background-image: url(../images/gplaypattern/gplaypattern.png);
	border-top-style: solid;
	border-top-color: #FAA1A8;
	border-top-width: .325em;
}

.footer a:link {
    text-decoration: none;
    color: black;
    font-size: 2em;
}

.footer a:visited {
    text-decoration: none;
    color: black;
}

.footer a:hover {
    filter: drop-shadow(0.063em 0.063em 0em #FAA1A8);
}